
a {
    text-decoration: none;
}

body {
    background-color: rgb(193, 201, 235);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container input#share {
    display: none;
}

.container input#share:checked ~ div.popup {
    bottom: 65%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;  
}

.container label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(250, 250, 250, 1.0);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease; 
}

.container label i {
    font-size: 3rem;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease; 
}

.container label:hover {
    background-color: #0105f2;
    color: #fff;
}

.container div.popup {
    width: 240px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    bottom: 70%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}

.container div.popup::after {
    content: '';
    width: 12px;
    height: 12px;
    border-right: 12px solid;
    border-bottom: 12px solid;
    border-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    bottom: -12%;
}

.container div.popup a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
}

.container div.popup i {
    font-size: 2.5rem;
    color: #000;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}

.container div.popup a:hover > i {
    font-size: 2.8rem;
    transform: translateY(-3px);
}

.container div.popup a:nth-child(1):hover > i#facebook {
    color: #3B5999;
}
.container div.popup a:nth-child(2):hover > i#instagram {
    color: #e1306c;
}
.container div.popup a:nth-child(3):hover > i#twitter {
    color: #46C1F6;
}
.container div.popup a:nth-child(4):hover > i#whatsapp {
    color: #378600;
}
.container div.popup a:nth-child(5):hover > i#viber {
    color: #990086;
}

